/* .container-footer {
  /* text-align:center;
  position: relative; 
  

 
} */

.footer {
    width: 100%;
   background-color: #121619; 
    
   position: fixed;
   bottom: 0px;
   height: 150px;

  }


  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }